parameters:

    paths:
        - src/

    reportUnmatchedIgnoredErrors: false
    
    ignoreErrors:
        - '#.*?class ReflectionProperty constructor expects object\|string.*?#'
        - '#^Strict comparison using === between .*? will always evaluate to false\.$#'
        - identifier: missingType.generics
